# ls
alias ls="ls --group-directories-first --color=auto"
alias l="ls -Alh"

# git
alias gs="git status"

# xorg
alias xup="xrdb ~/.Xresources"

# vim
alias vim="nvim"
alias svim="'vim' --servername VIM"
