# general
alias l="ls -Alh"
unalias rm
unalias top

# git
alias gs="git status"

# xorg
alias xup="xrdb ~/.Xresources"

# ssh
alias add-identity='eval $(ssh-agent) && ssh-add'

# vim
alias vim="nvim"
alias svim="'vim' --servername VIM"

# games
alias uwot="echo uwot"
